:root {
    --bg-color: #FAFAFA;
    --text-color: #7e7e94;
    --text-color-2: #a7abd6;
    --text-color-header-h2: #0d198c;
    --text-color-info-hover: #333333;
    --gradient-1: #e80080;
    --gradient-2: #840a94;
    --gradient-3: #2113a8;
    --gradient-or-not: linear-gradient(to bottom, var(--gradient-1), var(--gradient-3));
}

.dark {
    --bg-color: #050505;
    --text-color: #ffffff;
    --text-color-header-h2: #ffffff;
    --text-color-info-hover: #ffffff;
    --gradient-or-not: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: auto;
    overflow-x: hidden;
}

body {
    overscroll-behavior: none;
    background-color: var(--bg-color);
}

.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

footer {
    height: 5rem;
    text-align: center;
    color: var(--text-color-2);
}

section {
    margin-bottom: 15rem;
}

#info h2,
#features h2,
#partners h2{
    text-align: center;
    font-weight: normal;
    font-size: 3.5rem;
    margin-top: 10rem;
}

.sub-title {
    width: 80%;
    max-width: 700px;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: normal;
}